.main {
	display: grid;
	grid-template: 'title .' 1fr 'card sidebar' auto / 12fr 2fr;

	.title {
		grid-area: title;
		font-size: 2em;
		padding: 0.1em;
	}

	.sidebar {
		grid-area: sidebar;
	}

	.card {
		grid-area: card;
		padding: 1em;

		h4 {
			margin: 0.2em;
		}

		textarea {
			font-family: Arial, Helvetica, sans-serif;
			padding: 0.25em 0.5em;
			border: 1px solid #cccccc;
			border-radius: 6px 6px 0 6px;
			outline: none;
		}

		textarea.last {
			margin-bottom: 1em;
		}

		.error {
			color: red;
		}

		button {
			margin: 0.5em 0.75em;
			padding: 0.5em 0.75em;
			margin-left: 0.2em;
			margin-right: 0.2em;
			border: 1px solid #cccccc;
			border-radius: 3px;
			cursor: pointer;
			background: linear-gradient(#49afcd, #2f96b4);
			border: 1px solid #2f96b4;
			color: white;
		}
	}
}
