.main {
	display: grid;
	grid-template: "title ." "content sidebar" / 12fr 2fr;

	.title {
		grid-area: title;
	}

	.content {
		grid-area: content;

		.buttons {
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
		}

		a {
			text-decoration: none;
			
			.card {
				border: 2px solid black;
				margin: 0.5em;
				padding: 0.2em;
				color: black;
	
				p {
					margin: 0.1em;
				}
			}
		}
	}

	.sidebar {
		grid-area: sidebar;
	}
}