@use 'mixins';
@use 'colors';

.main {
	.card {
		.id {
			font-size: 2em;
			padding: 0.1em;
		}

		.form {
			margin: 1em;

			textarea {
				font-family: Arial, Helvetica, sans-serif;
				padding: 0.25em 0.5em;
				border: 1px solid #cccccc;
				border-radius: 6px 6px 0 6px;
				outline: none;
			}
		}
	}
}
