.main {
	display: grid;
	grid-template: 'title .' 1fr 'questions sidebar' auto / 12fr 2fr;

	.title {
		grid-area: title;
		font-size: 2em;
		padding: 0.1em;
	}

	.sidebar {
		grid-area: sidebar;

		h3 {
			text-align: center;
		}

		form hr {
			margin-top: 0.3em;
			margin-bottom: 0.3em;
		}
	}

	.content {
		grid-area: questions;

		.msg {
			padding: 0.2em 0.5em;
		}

		.error {
			color: red;
			padding: 0.2em 0.5em;
		}
	}
}
