.main {
	display: grid;
	grid-template: 'title .' max-content 'questions sidebar' auto 'questions sidebar' auto / 12fr 2fr;

	.title {
		grid-area: title;
		font-size: 2em;
		padding: 0.1em;
	}

	.sidebar {
		grid-area: sidebar;
		padding: 0.5em 0.75em;

		h3 {
			text-align: center;
		}

		form hr {
			margin-top: 0.3em;
			margin-bottom: 0.3em;
		}
	}

	.content {
		grid-area: questions;
		padding: 0.2em 0.5em;

		.msg {
			padding: 0.2em 0.5em;
		}

		.error {
			color: red;
			padding: 0.2em 0.5em;
		}
	}

	.leaderboard {
		padding: 0.4em 0.6em;
		border: 1px solid black;
		border-radius: 4px;

		.entry {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			padding-top: 0.4em;
			padding-bottom: 0.4em;

			&:not(:last-child) {
				border-bottom: 1px solid black;
			}
		}
	}
}
