@use '../../sass/mixins';

.main {
	.text {
		margin: 0.5em 2em;
	}

	.correct {
		color: green;
	}

	.incorrect {
		color: red;
	}

	.correct,
	.incorrect {
		font-weight: bold;
	}

	@include mixins.tooltip;

	.buzz {
		left: 158.8671875px;
	}

	.load {
		left: 60.34375px;
	}

	.next {
		left: 230.15625px;
	}

	.row {
		.primary {
			@include mixins.button-base(#49afcd);
		}

		.secondary {
			@include mixins.button-base(white);
		}

		.action {
			@include mixins.button-base(#ee5f5b);
		}
	}
}
