.main {
	border: 2px solid #8f8f8f;
	border-radius: 1em;
	width: 16em;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 3;
	background: white;
	padding: 1em 2em;

	.category {
		display: grid;
		grid-template-columns: 1fr 1fr;
		margin: 0.1em 0;

		.percentageWrapper {
			margin: 0 auto 0 2em;

			.percentage {
				display: inline-block;
				font-weight: bold;
				width: 2em;
			}
		}
	}

	.row {
		display: grid;
		grid-template-columns: max-content max-content auto;
		margin-top: 0.5em;
		column-gap: 0.25em;
	}

	.error {
		color: red;
		margin: 0.5em 0;
	}
}
