.main {
	.text {
		margin: 0.5em 2em;
	}

	.correct {
		color: green;
	}

	.incorrect {
		color: red;
	}

	.correct,
	.incorrect {
		font-weight: bold;
	}

	.row {
		display: flex;
		flex-direction: row;
	}

	.loaded {
		width: fit-content;
		font-size: 3em;
		margin: auto;
		position: relative;
		top: 5em;
	}
}
